@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 17px;
  left: 21px;
  width: 26px;
  height: 26px;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #4a148c;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0%;
  left: -100%;
  width: 12%;
  height: 25.5%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #d5b3f5;
  border-radius: 10px;
}
/* элементы меню */
.menu__item { 
  display: block;
  padding: 10px 20px;
  color: purple;
  text-decoration: none;
  margin-left: -17%;
}
.menu__item:hover {
  background-color: #bd86f0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.search-box {
    display: flex;
    position: absolute;
    margin-left: 58%;
    margin-top: 1.5%;
    background-color: purple;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    text-decoration: none;
}

.search-txt {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: .4s;
    line-height: 40px;
    width: 0;
}

.search-box:hover .search-txt {
    width: 145px;
    padding: 0 6px;
}

.search-box:hover .search-btn {
    background-color: orange;
}
.photover6{
    border-radius: 10px;
    width: 300px;
    height: 475px;
    margin-top: 5%;
    margin-left: 39%;
}
li:hover{
    animation: move1 1s infinite;
}
.header3:hover{
    border-radius: 7.5px;
    animation: move2 1s infinite;
}
@keyframes move1{
    0%   { transform: rotate(180deg);}
    50% { transform: scale(1.5); }
    100% { transform: scale(1);}
}
@keyframes move2{
    0%{background-color: #cc99ff;}
    100%{background-color: #cda4de;}
}
.ver6{
    font-family: Revalia;
    font-size: 25px;
    color: orange;
    margin-top: 5%;
    margin-left: 34%;
}
.photover{
    position: absolute;
    width: 350px;
    height: 425px;
    margin-top: -75%;
    margin-left: 35%;
}
.ver5{
    font-family: Revalia;
    position: absolute;
    font-size: 20px;
    color: orange;
    margin-top: -38.5%;
    margin-left: 44.5%;
}
.ver55{
    font-family: Revalia;
    position: absolute;
    font-size: 20px;
    color: white; 
    margin-top: -35%;
    margin-left: 38.5%;
}
.expoH01{
    font-family: Revalia;
    width: 100%;
    margin-left: 26.5%;
    color: orange;
    font-size: 40px;
}
.photo1{
    width: 350px;
    height: 298px;
    margin-top: 18.5%;
    margin-left: 30%;
}
.photo2{
    width: 390px;
    height: 340px;
    margin-top: 10%;
    margin-left: 25.5%;
}
.photo3{
    width: 350px;
    height: 315px;
    margin-top: 2%;
    margin-left: 46.5%;
}
.photo4{
    width: 370px;
    height: 300px;
    margin-top: 4.9%;
    margin-left: 34.0%;
}
.ver1{
    font-family: Revalia;
    font-size: 20px;
    color: orange;
    width: 59.0%;
    margin-top: -1.5%;
    margin-left: 35.0%;
}
.ver11{
    font-size: 20px;
    color: white; 
    width: 50.5%;
    margin-top: %;
    margin-left: 35.0%;
}
.ver111{
    font-size: 20px;
    color: white; 
    width: 55%;
    margin-top: ;  
    margin-left: 35.0%;
}
.ver2{
    font-size: 20px;
    color: orange;
    width: 45%;
    margin-top: -3.2%;
    margin-left: 25.5%;
}
.ver22{
    font-size: 20px;
    color: white; 
    width: 50%;
    margin-top: 0%;
    margin-left: 25.5%;
}
.ver3{
    font-size: 20px;
    color: orange;
    width: 45%;
    margin-top: 4%;
    margin-left: 51.9%;
}
.ver33{
    font-size: 20px;
    color: white; 
    width: 50%;
    margin-top: 0%;
    margin-left: 51.9%;
}
.ver4{
    font-size: 20px;
    color: orange;
    width: 25%;
    margin-top: 0.8%;
    margin-left: 34%;
}
.ver44{
    font-size: 20px;
    color: white; 
    width: 35%;
    margin-top: 0%;
    margin-left: 34%;
}
.line{
    display: block;
    width: 1250px;
    height: 1px;
    background-color: black;
    margin: 30px auto 35px;
}
.line1{
    display: block;
    width: 1250px;
    height: 1px;
    background-color: white;
    margin: 30px auto 35px;
}
header{
    display: flex;
    justify-content: space-between; 
    padding-left: 20%;  
    padding-right: 20%; 
    background-color: white;
    height: 100px;
    width: 758px;
    position: fixed;
}
.logo {
    margin-top: 4.3%;  
    margin-left: -9%;
    font-size: 30px; 
    color: orange; 
}
ul {
    display: flex; 
    justify-content: space-evenly; 
    list-style: none;
    padding-left: 0;
}
nav{
    margin-right: 9%;
    margin-top: 4.2%;
}
li {
    font-family: Roboto; 
    font-size: 16px;
    margin-left: 20px;
}
body{
    font-family: Revalia; 
    margin: 0;
    background-image: url("b4fc8cc9dc2d11e680b6d02788130995_087ee495df2511e780d2d02788130995.jpg");
}
.expo {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.blocks {
    flex-direction: column;
    margin-left: 30%;
    margin-top: -10%;  
    justify-content: flex-end;
    width: 50%;
    color: white;
}
.row{
    display: flex;
    margin-left: -7%;
}
.row1{
    display: flex;
}
h2 {
    font-size: 16px;
    margin: 20px;
}
.blue {
    border-radius: 10px;
    background-color: #8f509d;
    width: 250px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.turquoise {
    border-radius: 10px;
    background-color: #8f509d;
    width: 250px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.yellow {
    border-radius: 10px;
    background-color: #8f509d;
    width: 250px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.red {
    border-radius: 10px;
    background-color: #8f509d;
    width: 250px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}
a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    margin-left: 20px;
}
footer{
    background-color: white;
    padding: 20px;
    margin-top: 6%;
}
.pF{
    color: orange;
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}
.header1{
    color: orange;
    font-size: 27.5px;
    margin-left: 42.5%;
    margin-top: 1%;
}
.header2{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-top: 1.5%;
    margin-left: 36.5%;
    transition: transform 1s;

    animation: zoomInUp 2s 1;
}
.header3{
    font-size: 20px;
    color: white;
    width: 35%;
    margin-left: 31.5%;
    margin-top: 3%;
}
.aF1{
    color: purple;
}
.aF2{
    color: purple;
    margin-left: 1.4%;
    position: absolute;
    margin-top: -1%;
}
.aF3{
    color: purple;
    margin-left: 8.2%;
    position: absolute;
    margin-top: 2.5%;
}
.aF4{
    color: purple;
    margin-left: 9.6%;
    margin-top: 6%;
    position: absolute;
}
.aF5{
    color: purple;
    margin-top: 0%;
}
.aF6{
    color: purple;
    margin-left: 0%;
    position: absolute;
    margin-top: -1%;
}
.aF7{
    color: purple;
    margin-left: 0%;
    position: absolute;
    margin-top: 2.4%;
}
.aF8{
    color: purple;
    margin-left: 0%;
    margin-top: 5.9%;
    position: absolute;
}
.container1{
    margin-top: -6%;
    margin-left: 75.0%;
}
.container{
    color: purple;
    margin-top: -2%;
    margin-left: 0.3%;
}
.aye{
    color: orange;
}
.button{
    border-radius: 10px;
    padding: 5px 18px 5px 0px;
    margin-top: 1.5%;
    margin-left: 1.5%;
    background-color: #cda4de;
}
.button1{
    border-radius: 5px;
    margin-left: 1.5%;
}
.button2{
    margin-left: 1.5%;
}
.button3:focus{
    background-color: #cda4de;
}
.aye1{
    color: white;
}
.menusa{

}
.inputin{
    border-radius: 10px;
    border: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    font-weight: 800;
    margin-left: 44%;
}